<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IContract" 
                         maxBufferPoolSize="131072"
                         openTimeout="00:10:00"
                         closeTimeout="00:10:00"
                         maxReceivedMessageSize="4294967296"
                         maxBufferSize="65536"
                         receiveTimeout="24:00:00"
                         sendTimeout="24:00:00"
                         transactionFlow="true"
                         transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:30081/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IContract" contract="AsyncStream.IContract"
                name="NetTcpBinding_IContract" />
        </client>
    </system.serviceModel>
</configuration>