<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      
      <!--<basicHttpBinding>
        <binding name="BasicHttpBinding_Contract" openTimeout="00:00:03" closeTimeout="00:00:03" sendTimeout="24.20:00:00" receiveTimeout="24.20:00:00" maxReceivedMessageSize="4294967296" 
                 messageEncoding="Mtom" hostNameComparisonMode="StrongWildcard" transferMode="Streamed">
          <security mode="None" />
        </binding>
      </basicHttpBinding>-->
      
      <!--<mexHttpBinding>
        <binding name="MexHttpBinding_Contract" openTimeout="00:00:03" closeTimeout="00:00:03" sendTimeout="00:01:00" receiveTimeout="00:01:00"/>
      </mexHttpBinding>-->
        
      <netTcpBinding>
        <binding name="NetTcpBinding_Contract" 
                 openTimeout="00:10:00" 
                 closeTimeout="00:10:00" 
                 sendTimeout="24.20:00:00" 
                 receiveTimeout="24.20:00:00" 
                 maxReceivedMessageSize="4294967296"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="4294967296"
                 transactionFlow="true" 
                 hostNameComparisonMode="StrongWildcard"   
                 transferMode="Streamed">
          <!--<reliableSession enabled="true" inactivityTimeout="12:00:00" ordered="true"/>-->
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas 
                 maxDepth="2147483647" 
                 maxStringContentLength="2147483647" 
                 maxArrayLength="2147483647" 
                 maxBytesPerRead="2147483647" 
                 maxNameTableCharCount="2147483647"/>
        
        </binding>
      </netTcpBinding>
      
      <mexTcpBinding>
        <binding name="MexTcpBinding_Contract" 
                 openTimeout="00:00:03" 
                 closeTimeout="00:00:03" 
                 sendTimeout="00:01:00" 
                 receiveTimeout="00:01:00"/>
      </mexTcpBinding>
      
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ContractBehavior">
          <!--<serviceMetadata httpGetEnabled="True"/>-->
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Host.Contract" behaviorConfiguration="ContractBehavior">
        
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost:30080/"/>-->
            <add baseAddress="net.tcp://localhost:30081/"/>
          </baseAddresses>
          <timeouts openTimeout="00:00:03" closeTimeout="00:00:03"/>
        </host>
        
        <!--<endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_Contract"
                  contract="Host.Abstract.IContract" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  bindingConfiguration="MexHttpBinding_Contract"
                  contract="IMetadataExchange" />-->
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_Contract"
                  contract="Host.Abstract.IContract" />
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  bindingConfiguration="MexTcpBinding_Contract"
                  contract="IMetadataExchange" />

        <!-- Note that we're not explicitly enabling metadata in configuration, so 
             it's off by default. Instead of enabling mex in configuration, we'll add
             it imperatively by means of a custom class that derives from ServiceHost. -->
      </service>
    </services>
  </system.serviceModel>
</configuration>